############################################
# Build output
############################################
/target/
/build/
out/

############################################
# IDEs
############################################
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

############################################
# Gradle
############################################
.gradle/
!gradle/wrapper/gradle-wrapper.jar